.form-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 630px;
  padding: 0 20px 20px;
  background-color: var(--bg-gradient-green);
  border-radius: 8px;
  box-shadow: var(--shadow-card);
}
.button {
  font-family: 'source-code-pro';
  font-size: 14px;
  width: 260px;
  padding: 9px;
  margin: 10px 0 0;
  background: linear-gradient(7deg, #fff172, #ff357a);
  transition: background-color 0.4s ease-in-out;
  color: #000;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: var(--shadow-btn-box);
  text-shadow: var(--shadow-btn-txt);
  margin-left: 168px;
}
.button:hover {
  background: linear-gradient(45deg, #ff0077, #ffd500);
}
.iconBtn {
  margin-right: 6px;
}
.name-label input::placeholder {
  color: rgba(255, 255, 255, 0.738);
}
.tel-label input::placeholder {
  color: rgba(255, 255, 255, 0.738);
}
.tel-label {
  margin-left: 10px;
}
.name-label,
.tel-label {
  font-size: 22px;
  text-shadow: var(--label-shadow);
  font-family: 'Menlo';
  padding-top: 15px;
  color: #ffc107;
}
.name-input,
.tel-input {
  display: flex;
  padding: 10px 15px;
  height: 15px;
  width: 258px;
  border: var(--accent-border);
  border-radius: 4px;
  margin-top: 5px;
  color: var(--white);
  background-color: #111;
  box-shadow: var(--input-box-shadow);
}
.label-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon-input {
  font-size: 18px;
  text-align: center;
}
