.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 325px;
}
.box {
  width: 360px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(16, 61, 16);
  box-shadow: var(--shadow-card);
}
.title {
  letter-spacing: 0.2em;
}
.sub-title {
  margin-top: 15px;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
.box {
  width: 590px;
  background-color: var(--green);
}
.container {
  display: block;
  width: 630px;
  height: 650px;
}
}