.container {
  width: 630px;
  height: 650px;
}
.box {
  width: 590px;
  background-color: rgb(2, 31, 31);
  border-radius: 8px;
  padding: 20px;
}
.title {
  letter-spacing: 0.2em;
}
.sub-title {
  margin-top: 15px;
  letter-spacing: 0.2em;
}
