.container {
  margin: 20px;
  padding: 20px;
  width: 680px;
  height: 860px;
  background-image: url('../../img/fon3.jpg');
  background-size: cover; 
  background-position: center; 
  /* background: #111; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  margin-bottom: 120px;
}
