.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  width: 630px;
  height: 780px;
  border-radius: 20px;
  background: var(--black-bg);
  border: 36px solid var(--green);
}
.navigation {
  margin: 40px 0 40px;
}
/* Localization */
/* .language-switch {
  border-radius: 4px;
} */
.language-switch button {
  background-color: white; 
  color: black;
  border: 1px solid #ccc; 
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.language-switch button:disabled {
  background-color: var(--gold); 
  color: black; 
  border: 1px solid tomato; 
}
.btnUa {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btnEn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
