.container {
  display: flex;
  gap: 78px;
}
.main-box {
  position: relative;
  height: 100px;
}
.rectangle-left,
.rectangle-right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.rectangle-left,
.rectangle-right{
  width: 297.5px;
  height: 155px;
  color: var(--black-bg);
  background: var(--gold-gradient-logo);
}
.rectangle-right {
  width: 205px;
}
.logo-text {
  font-size: 120px;
  font-weight: 900;
  font-family: Arial, sans-serif;
}
.accent-text p {    
  font-size: 45px;
  margin-top: -5px;
  letter-spacing: 0.3em;
  color: var(--black-color);
  text-shadow: var(--neon-shadow);
}
.triangle {
  position: absolute;
  top: 38.8px;
  left: 258.5px;
  width: 0;
  height: 0;
  transform: rotate(90deg);
  border-left: 78px solid transparent;
  border-right: 78px solid transparent;
  border-bottom: 78px solid var(--gold-accent);
}
