.name-label {
  font-size: 22px;
  font-family: 'Menlo';
  color: var(--gold);
  text-shadow: var(--label-shadow);
}
.name-input {
  display: flex;
  height: 15px;
  width: 258px;
  padding: 10px 15px;
  margin: 5px 0 20px;
  border-radius: 4px;
  color: var(--white);
  border: var(--accent-border);
  background-color: var(--black);
  box-shadow: var(--input-box-shadow);
}
.name-label input::placeholder {
  color: var(--placeholder-color);
}
.icon-label {
  width: 20px;
  height: 20px;
  margin-right: 8px;;
}