.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  gap: 30px;
  border-radius: 25px;
  background-color: var(--green);
  font-weight: 600;
}
.container a:hover,
.container a.active {
  background: var(--btn-gradient);
  -webkit-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
}
.sign-box {
  display: flex;
  gap: 30px;
}
.icon-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
/* @media screen and (min-width: 768px) {} */
/* @media screen and (min-width: 1440px) {} */