.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 40px;
  gap: 30px;
  border-radius: 25px;
  background-color: var(--green);
}
.container a:hover,
.container a.active {
  font-weight: 600;
  background: var(--btn-gradient);
  -webkit-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
}
.sign-box {
  display: flex;
  gap: 30px;
}
