.container {
  display: flex;
  width: 260px;
  height: 40px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 31, 31);
  border-radius: 25px;
}
.container a:hover,
.container a.active {
  font-weight: 600;
  background: linear-gradient(45deg, #ff357a, #fff172);
  -webkit-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
}
.sign-box {
  display: flex;
  gap: 30px;
}
