@import-normalize;
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Light.woff2') format('woff2'),
    url('./fonts/Quicksand-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --gold: #ffc107;
  --blue: rgb(39, 98, 248);
  --gold-accent: #ffd700;
  --green: rgb(2, 31, 31);
  --white: #ffffff;
  --black-bg: #111;
  --black-color: #000;
  --red: #dc3545;
  --red-accent: #b3003c;
  --icon-color: rgb(9, 90, 90);
  /* shadows */
  --shadow-main-title: 0 5px 4px rgba(0, 0, 0, 0.2);
  --shadow-card: 4px 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-card-accent: -4px 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-title: 2px 2px 4px rgba(0, 0, 0, 0.3);
  --shadow-btn-box: 0 2px 4px rgba(0, 0, 0, 0.4);
  --shadow-btn-txt: 0 2px 4px rgba(0, 0, 0, 0.1);
  --neon-shadow: 2px 2px 4px rgba(7, 200, 218, 0.5);
  /* gradients */
  --gold-gradient: linear-gradient(to right, #ffc107, #f0e399);
  --gold-gradient-logo: linear-gradient(to right, #ffc107, #ffd700);
  --btn-gradient: linear-gradient(45deg, #ff357a, #fff172);
  --btn-gradient-rev: linear-gradient(7deg, #fff172, #ff357a);
  --btn-gradient-hover: linear-gradient(45deg, #ff0077, #ffd500);
  /* input */
  --bg-input: #1111118b;
  --input-bg: rgba(141, 201, 201, 0.195);
  --input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  --label-shadow: 1px 2px 4px rgba(73, 125, 115, 0.5);
  --accent-border: 1px solid #ddd;
  --placeholder-color: rgba(255, 255, 255, 0.75);
}
/* base styles */
body {
  color: white;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: url('./img/bg-fon.jpg');
  background-size: cover;
  background-position: center;
}
input {
  background-color: var(--black-bg);
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: white !important;
  -webkit-text-fill-color: white !important;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

/* .container {
  max-width: 375px;
  min-width: 320px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
} */
