.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding-left: 3px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: var(--black-color);
  background: var(--gold-gradient);
}
.contactInfo {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1em;
  width: 380px;
}
.contactNum {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
  width: 120px;
}
.name {
  font-family: 'source-code-pro';
  font-size: 18px;
}
.nameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nameIcon {
  color: var(--icon-color);
  margin-left: 5px;
}
.deleteButton {
  display: flex;
  padding: 20px 10px;
  gap: 6px;
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--red);
  box-shadow: var(--shadow-btn-box);
  text-shadow: var(--shadow-btn-txt);
  transition: background-color 0.3s ease;
}
.deleteButton:hover {
  background-color: var(--red-accent);
}


@media screen and (min-width: 768px) {
.contactInfo {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1em;
  width: 480px;
}
.item {
  height: 25px;
}
.contactNum {
  letter-spacing: 0.3em;
}
.deleteButton {
  padding: 5px 10px;
}
}
/* @media screen and (min-width: 1440px) {}  */